@import "tailwindcss";

@layer base {
  h1 {
    font-size: 2.25rem;
    line-height: 2.5rem;
    font-weight: 700;
    letter-spacing: -0.025em;
  }
  @media (min-width: 768px) {
    h1 {
      font-size: 3rem;
      line-height: 1;
    }
  }

  .page-subtitle {
    color: rgb(96 165 250);
    font-size: 1.125rem;
    line-height: 1.75rem;
  }
  @media (min-width: 768px) {
    .page-subtitle {
      font-size: 1.25rem;
      line-height: 1.75rem;
    }
  }
}
